# Maven target directory (ignora localmente, mas não impede CI)
# Atenção: não ignore o diretório inteiro se for gerar relatório com CI
/web-automation-bdd/target/*
!/web-automation-bdd/target/site/
!/web-automation-bdd/target/site/allure-maven-plugin/

# Surefire Reports
/web-automation-bdd/target/surefire-reports/*

# Allure results
/web-automation-bdd/allure-results/*
!/web-automation-bdd/allure-results/.gitkeep

# Allure local build cache
/web-automation-bdd/.allure/

# IDEA & VSCode
.idea/
*.iml
.vscode/

# Outros
.DS_Store
Thumbs.db
.env
*.log
*.tmp
*.swp